@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

html{scroll-behavior: smooth}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif !important;
}

.geral{
    width: 100vw;
    height: auto;
}

.navbar-brand{color: rgb(68, 68, 131) !important}

.nav-link{
    color: rgb(68, 68, 131) !important;
    font-size: 0.9rem !important;
}

#btnContatoMenu{
    background-color: rgb(61, 61, 157) !important;
    color: white !important;
}

.capaSite{
    width: 100vw;
    height: 90vh;
    background-image: url('/img/alunos.jpeg');
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.capaSite h2{font-size: 3rem}

.capaSiteTexto{
    width: 60vw;
    margin-top: 45vh;
}

.login{
    background-color: rgb(219, 225, 229);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vw;
    height: 25rem;
    box-shadow: 2px 6px 9px rgb(130, 125, 125); 
}

.login h6{font-size: 0.8rem}

.midiasLogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.midiasLogin img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.sobre,
.educacaoInfantil{
    width: 60vw;
    min-height: 100vh;
}

.sobreTextos img,
.educacaoInfantilTextos img{
    width: 40vw;
}

.sobre h3,
.sobre h4,
.educacaoInfantil h3,
.educacaoInfantil h4,
.educacaoInfantil h5{
    color: rgb(25, 25, 110) !important;
}

.sobre a,
.educacaoInfantil a{
    background-color: rgb(25, 25, 110);
}

.sobre p,
.sobre li,
.educacaoInfantilTextos p,
.educacaoInfantilTextos li{
    font-size: 0.9rem;
    line-height: 2.25rem;
}

.secaoFormulario{
    background-image: url('/img/fundoFormulario.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}

.formulario{
    border: 0.5px solid rgb(181, 167, 167);
    backdrop-filter: blur(15px);
    width: 50vw;
    height: 65vh;
    padding: 1rem;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(19, 19, 62);
    width: 100vw;
    min-height: 8rem;
}

.rodape img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.rodape h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}



/*Responsividade até 480px*/
@media screen and (max-width: 30rem) {
    .capaSite{width: 100vw;
        background-position: 15%;
    }
    .capaSite img{
        max-width: 100%;
    }
    .capaSite h2{
        width: 96vw;
        margin-top: 23rem;
        text-align: center !important;
        font-size: 1.75rem;
    }
    .login{
        width: 99vw;
        margin: 0 auto;
    }
    .sobre,
    .educacaoInfantil{
        width: 100vw;
        margin: 0 auto;
    }
    .sobreTextos img,
    .educacaoInfantilTextos img{
        width: 95% !important;
        border-radius: 6px;
    }
    .sobreTextos h4{
        text-align: center;
    }
    .sobreTextos p,
    .sobreTextos li,
    .educacaoInfantilTextos p,
    .educacaoInfantilTextos li{
        font-size: 0.8rem;
        line-height: 1.75rem;
    }
    .sobreTextos,
    .educacaoInfantilTextos{
        width: 90vw;
        padding: 0 0.5rem;
    }
    .sobre a,
    .educacaoInfantil a{
        width: fit-content !important;
    }
    .formulario{
        width: 96vw;
        margin: 0 auto;
        height: auto;
    }
}

/*Responsividade até 768px*/
@media screen and (min-width: 31rem) and (max-width: 48rem) {
    .capaSite{width: 100vw;
        background-position: 15%;
    }
    .capaSite img{
        max-width: 100%;
    }
    .login{
        width: 50vw;
        margin: 0 auto;
    }
}