@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

hr{
    border: 1px solid rgb(226, 218, 218);
    width: 60vw;
}

.chamadaFund_II{
    width: 100vw;
    height: fit-content;
}

.chamadaFundTextos{
    width: 60vw;
    height: auto;
}

.chamadaFund_II p{
    border-radius: 20px;
    width: 60vw;
    font-size: 0.9rem;
    line-height: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
}

.chamadaFund_II img{
    width: auto;
    height: 60vh;
}

.chamadaItens{
    width: 40vw;
    margin-left: 2rem;
}

.chamadaFundTextos h6{margin-left: 8.5rem}

.ensinoMedio{
    width: 100vw;
    min-height: 100vh;
}

.ensinoMedio p{
    width: 60vw;
    font-size: 0.9rem;
    line-height: 2.5rem;
}

.ensinoMedio img{
    width: auto;
    height: 60vh;
}

.ensinoMedio h5{margin: 1.5rem 5.7rem}

.ensinoMedio button{
    background-color: rgb(78, 75, 75);
    margin: 1rem auto;
}




@media screen and (max-width: 30rem) {
    .chamadaFund_II p{
        width: 96vw !important;
        margin: 0 1rem;
    }
    .chamadaFundTextos{
        width: 96vw !important;
        margin: 0 0.5rem;
    }
    .chamadaFund_II img{
        max-width: 100%;
        height: auto;
    }
    .ensinoMedio{
        width: 100vw;
        height: auto;
    }
    .ensinoMedio p{
        width: 98vw;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.75rem;
    }
    .ensinoMedio img{
        max-width: 96vw;
        height: auto;
        margin: 0 0.5rem;
    }
    .ensinoMedio h5{
        width: 100vw;
        font-size: 1.25rem;
    }
}